html {
  height: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  display: flex;
  flex: 1;
  width: 100%;
  max-height: 100%;
}

.pressed {
  opacity: 0.3;
}


.menu {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #ffe6bf;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 0 16px;
}
.menu_header {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.menu_inner {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 8px;
}
.menu_button {
  border-bottom: 1px solid #000;
  font-weight: bold;
  margin-top: 16px;
  padding: 8px;
}


.ticket_wrapper {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.ticket_inner {
  overflow-y: scroll;
}
.ticket_card {
  background: #eee;
  border-radius: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  padding: 16px;
}
.ticket_title {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 16px;
  font-weight: bold;
}
.ticket_code {
  text-align: center;
  letter-spacing: 2px;
}