.main {
  flex: 1;
}


.reserve{
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.menu{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.code{
  background-color: white;
  box-shadow: 1px 1px 2px 2px #ddd;
}
.code_title{
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.code_num{
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}


/* tabbar */
.tabbar {
  background-color: #fff;
  box-shadow: 0 -2px 4px 2px #ddd;
  bottom: 0;
  display: flex;
  height: 10%;
  position: sticky;
}
.form{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.form_input{
  box-shadow: 1px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px;
  width: 280px;
  flex: 1;
  justify-content: center;
}
.form_button{
  background-color: orange;
  font-size: 1.3rem;
  border: 0;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  padding: 8px;
  width: 200px;
}